In [1]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
confirmed_data = pd.read_csv("C:/Users/jmarshall/downloads/datasets_494724_1196190_time_series_covid_19_confirmed.csv")
death_data = pd.read_csv("C:/Users/jmarshall/downloads/datasets_494724_1196190_time_series_covid_19_deaths.csv")

In [3]:
confirmed_data.head(5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/19/20,5/20/20,5/21/20,5/22/20,5/23/20,5/24/20,5/25/20,5/26/20,5/27/20,5/28/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,7653,8145,8676,9216,9998,10582,11173,11831,12456,13036
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,949,964,969,981,989,998,1004,1029,1050,1076
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,7377,7542,7728,7918,8113,8306,8503,8697,8857,8997
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,761,762,762,762,762,762,763,763,763,763
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,52,52,58,60,61,69,70,70,71,74

In [4]:
death_data.head(5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/19/20,5/20/20,5/21/20,5/22/20,5/23/20,5/24/20,5/25/20,5/26/20,5/27/20,5/28/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,178,187,193,205,216,218,219,220,227,235
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,31,31,31,31,31,32,32,33,33,33
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,561,568,575,582,592,600,609,617,623,630
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,51
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,3,3,3,3,4,4,4,4,4,4

In [5]:
confirmed_data["Province/State"].unique()

array([nan, 'Australian Capital Territory', 'New South Wales',
       'Northern Territory', 'Queensland', 'South Australia', 'Tasmania',
       'Victoria', 'Western Australia', 'Alberta', 'British Columbia',
       'Grand Princess', 'Manitoba', 'New Brunswick',
       'Newfoundland and Labrador', 'Nova Scotia', 'Ontario',
       'Prince Edward Island', 'Quebec', 'Saskatchewan', 'Anhui',
       'Beijing', 'Chongqing', 'Fujian', 'Gansu', 'Guangdong', 'Guangxi',
       'Guizhou', 'Hainan', 'Hebei', 'Heilongjiang', 'Henan', 'Hong Kong',
       'Hubei', 'Hunan', 'Inner Mongolia', 'Jiangsu', 'Jiangxi', 'Jilin',
       'Liaoning', 'Macau', 'Ningxia', 'Qinghai', 'Shaanxi', 'Shandong',
       'Shanghai', 'Shanxi', 'Sichuan', 'Tianjin', 'Tibet', 'Xinjiang',
       'Yunnan', 'Zhejiang', 'Faroe Islands', 'Greenland',
       'French Guiana', 'French Polynesia', 'Guadeloupe', 'Mayotte',
       'New Caledonia', 'Reunion', 'Saint Barthelemy', 'St Martin',
       'Martinique', 'Aruba', 'Curacao', 'Sint Maarten', 'Bermuda',
       'Cayman Islands', 'Channel Islands', 'Gibraltar', 'Isle of Man',
       'Montserrat', 'Diamond Princess', 'Northwest Territories', 'Yukon',
       'Anguilla', 'British Virgin Islands', 'Turks and Caicos Islands',
       'Bonaire, Sint Eustatius and Saba', 'Falkland Islands (Malvinas)',
       'Saint Pierre and Miquelon'], dtype=object)

In [6]:
confirmed_data["Province/State"].fillna("", inplace=True)
death_data["Province/State"].fillna("", inplace=True)

In [7]:
confirmed_data.head(5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/19/20,5/20/20,5/21/20,5/22/20,5/23/20,5/24/20,5/25/20,5/26/20,5/27/20,5/28/20
0,,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,7653,8145,8676,9216,9998,10582,11173,11831,12456,13036
1,,Albania,41.1533,20.1683,0,0,0,0,0,0,...,949,964,969,981,989,998,1004,1029,1050,1076
2,,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,7377,7542,7728,7918,8113,8306,8503,8697,8857,8997
3,,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,761,762,762,762,762,762,763,763,763,763
4,,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,52,52,58,60,61,69,70,70,71,74

In [8]:
death_data.head(5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/19/20,5/20/20,5/21/20,5/22/20,5/23/20,5/24/20,5/25/20,5/26/20,5/27/20,5/28/20
0,,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,178,187,193,205,216,218,219,220,227,235
1,,Albania,41.1533,20.1683,0,0,0,0,0,0,...,31,31,31,31,31,32,32,33,33,33
2,,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,561,568,575,582,592,600,609,617,623,630
3,,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,51
4,,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,3,3,3,3,4,4,4,4,4,4

In [9]:
confirmed_data["Country - State"] = confirmed_data[["Country/Region", "Province/State"]].apply(lambda x: ' - '.join(x), axis=1)
death_data["Country - State"] = death_data[["Country/Region", "Province/State"]].apply(lambda x: ' - '.join(x), axis=1)

In [10]:
confirmed_data.head(5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/20,5/21/20,5/22/20,5/23/20,5/24/20,5/25/20,5/26/20,5/27/20,5/28/20,Country - State
0,,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,8145,8676,9216,9998,10582,11173,11831,12456,13036,Afghanistan -
1,,Albania,41.1533,20.1683,0,0,0,0,0,0,...,964,969,981,989,998,1004,1029,1050,1076,Albania -
2,,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,7542,7728,7918,8113,8306,8503,8697,8857,8997,Algeria -
3,,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,762,762,762,762,762,763,763,763,763,Andorra -
4,,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,52,58,60,61,69,70,70,71,74,Angola -

In [13]:
death_data.head(5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/20,5/21/20,5/22/20,5/23/20,5/24/20,5/25/20,5/26/20,5/27/20,5/28/20,Country - State
0,,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,187,193,205,216,218,219,220,227,235,Afghanistan -
1,,Albania,41.1533,20.1683,0,0,0,0,0,0,...,31,31,31,31,32,32,33,33,33,Albania -
2,,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,568,575,582,592,600,609,617,623,630,Algeria -
3,,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,Andorra -
4,,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,3,3,3,4,4,4,4,4,4,Angola -

In [14]:
death_data.drop(["Province/State", "Country/Region"], axis=1, inplace=True)

In [15]:
confirmed_data.drop(["Province/State", "Country/Region"], axis=1, inplace=True)

In [16]:
WuhanLat = 30.5928/(180/math.pi)
WuhanLong = 114.3055/(180/math.pi)
countriesLat = confirmed_data["Lat"]
countriesLong = confirmed_data["Long"]

In [17]:
type(countriesLat)

pandas.core.series.Series

In [18]:
countriesLat.dtype

dtype('float64')

In [19]:
confirmed_data["Distance"] = 3963.0*np.arccos((np.sin(WuhanLat)*np.sin(countriesLat)) + np.cos(WuhanLat)*np.cos(countriesLat)*np.cos(countriesLong-WuhanLong))

In [20]:
confirmed_data.tail(5)

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,5/21/20,5/22/20,5/23/20,5/24/20,5/25/20,5/26/20,5/27/20,5/28/20,Country - State,Distance
261,0.186360,6.613081,0,0,0,0,0,0,0,0,...,251,251,251,251,299,441,443,458,Sao Tome and Principe -,6167.071029
262,15.552727,48.516388,0,0,0,0,0,0,0,0,...,197,209,212,222,233,249,256,278,Yemen -,2683.356337
263,-11.645500,43.333300,0,0,0,0,0,0,0,0,...,34,78,78,87,87,87,87,87,Comoros -,6433.436756
264,38.861034,71.276093,0,0,0,0,0,0,0,0,...,2350,2551,2738,2929,3100,3266,3424,3563,Tajikistan -,2520.252167
265,-29.609988,28.233608,0,0,0,0,0,0,0,0,...,1,2,2,2,2,2,2,2,Lesotho -,4572.546700

In [21]:
death_data["Distance"] = 3963.0*np.arccos((np.sin(WuhanLat)*np.sin(countriesLat)) + np.cos(WuhanLat)*np.cos(countriesLat)*np.cos(countriesLong-WuhanLong))

In [22]:
death_data.dtypes

Lat                float64
Long               float64
1/22/20              int64
1/23/20              int64
1/24/20              int64
1/25/20              int64
1/26/20              int64
1/27/20              int64
1/28/20              int64
1/29/20              int64
1/30/20              int64
1/31/20              int64
2/1/20               int64
2/2/20               int64
2/3/20               int64
2/4/20               int64
2/5/20               int64
2/6/20               int64
2/7/20               int64
2/8/20               int64
2/9/20               int64
2/10/20              int64
2/11/20              int64
2/12/20              int64
2/13/20              int64
2/14/20              int64
2/15/20              int64
2/16/20              int64
2/17/20              int64
2/18/20              int64
                    ...
5/1/20               int64
5/2/20               int64
5/3/20               int64
5/4/20               int64
5/5/20               int64
5/6/20               int64
5/7/20               int64
5/8/20               int64
5/9/20               int64
5/10/20              int64
5/11/20              int64
5/12/20              int64
5/13/20              int64
5/14/20              int64
5/15/20              int64
5/16/20              int64
5/17/20              int64
5/18/20              int64
5/19/20              int64
5/20/20              int64
5/21/20              int64
5/22/20              int64
5/23/20              int64
5/24/20              int64
5/25/20              int64
5/26/20              int64
5/27/20              int64
5/28/20              int64
Country - State     object
Distance           float64
Length: 132, dtype: object

In [23]:
test_series = death_data["Country - State"].astype('category')

In [24]:
test_series

0                                      Afghanistan -
1                                          Albania -
2                                          Algeria -
3                                          Andorra -
4                                           Angola -
5                              Antigua and Barbuda -
6                                        Argentina -
7                                          Armenia -
8            Australia - Australian Capital Territory
9                         Australia - New South Wales
10                     Australia - Northern Territory
11                             Australia - Queensland
12                        Australia - South Australia
13                               Australia - Tasmania
14                               Australia - Victoria
15                      Australia - Western Australia
16                                         Austria -
17                                      Azerbaijan -
18                                         Bahamas -
19                                         Bahrain -
20                                      Bangladesh -
21                                        Barbados -
22                                         Belarus -
23                                         Belgium -
24                                           Benin -
25                                          Bhutan -
26                                         Bolivia -
27                          Bosnia and Herzegovina -
28                                          Brazil -
29                                          Brunei -
                            ...
236                                    Timor-Leste -
237                                         Belize -
238                                           Laos -
239                                          Libya -
240                             West Bank and Gaza -
241                                  Guinea-Bissau -
242                                           Mali -
243                          Saint Kitts and Nevis -
244                    Canada - Northwest Territories
245                                    Canada - Yukon
246                                         Kosovo -
247                                          Burma -
248                         United Kingdom - Anguilla
249           United Kingdom - British Virgin Islands
250         United Kingdom - Turks and Caicos Islands
251                                     MS Zaandam -
252                                       Botswana -
253                                        Burundi -
254                                   Sierra Leone -
255    Netherlands - Bonaire, Sint Eustatius and Saba
256                                         Malawi -
257      United Kingdom - Falkland Islands (Malvinas)
258                France - Saint Pierre and Miquelon
259                                    South Sudan -
260                                 Western Sahara -
261                          Sao Tome and Principe -
262                                          Yemen -
263                                        Comoros -
264                                     Tajikistan -
265                                        Lesotho -
Name: Country - State, Length: 266, dtype: category
Categories (266, object): [Afghanistan -, Albania -, Algeria -, Andorra -, ..., Western Sahara -, Yemen -, Zambia -, Zimbabwe -]

In [25]:
death_data["Country - State"] = death_data["Country - State"].astype('category')

In [26]:
confirmed_data["Country - State"] = confirmed_data["Country - State"].astype('category')

In [27]:
death_data.index

RangeIndex(start=0, stop=266, step=1)

In [28]:
confirmed_data.index

RangeIndex(start=0, stop=266, step=1)

In [29]:
confirmed_data.iloc[0:5,0:5]

       Lat     Long  1/22/20  1/23/20  1/24/20
0  33.0000  65.0000        0        0        0
1  41.1533  20.1683        0        0        0
2  28.0339   1.6596        0        0        0
3  42.5063   1.5218        0        0        0
4 -11.2027  17.8739        0        0        0

In [30]:
confirmed_data.head(5)

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,5/21/20,5/22/20,5/23/20,5/24/20,5/25/20,5/26/20,5/27/20,5/28/20,Country - State,Distance
0,33.0000,65.0000,0,0,0,0,0,0,0,0,...,8676,9216,9998,10582,11173,11831,12456,13036,Afghanistan -,4160.878100
1,41.1533,20.1683,0,0,0,0,0,0,0,0,...,969,981,989,998,1004,1029,1050,1076,Albania -,9869.276834
2,28.0339,1.6596,0,0,0,0,0,0,0,0,...,7728,7918,8113,8306,8503,8697,8857,8997,Algeria -,9125.498645
3,42.5063,1.5218,0,0,0,0,0,0,0,0,...,762,762,762,762,763,763,763,763,Andorra -,8004.697489
4,-11.2027,17.8739,0,0,0,0,0,0,0,0,...,58,60,61,69,70,70,71,74,Angola -,4919.080767

In [31]:
test_df = confirmed_data
test_df.set_index("Country - State", inplace=True)
test_df.head()

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,5/20/20,5/21/20,5/22/20,5/23/20,5/24/20,5/25/20,5/26/20,5/27/20,5/28/20,Distance
Country - State,,,,,,,,,,,,,,,,,,,,,
Afghanistan -,33.0000,65.0000,0,0,0,0,0,0,0,0,...,8145,8676,9216,9998,10582,11173,11831,12456,13036,4160.878100
Albania -,41.1533,20.1683,0,0,0,0,0,0,0,0,...,964,969,981,989,998,1004,1029,1050,1076,9869.276834
Algeria -,28.0339,1.6596,0,0,0,0,0,0,0,0,...,7542,7728,7918,8113,8306,8503,8697,8857,8997,9125.498645
Andorra -,42.5063,1.5218,0,0,0,0,0,0,0,0,...,762,762,762,762,762,763,763,763,763,8004.697489
Angola -,-11.2027,17.8739,0,0,0,0,0,0,0,0,...,52,58,60,61,69,70,70,71,74,4919.080767

In [32]:
test_df.index

CategoricalIndex(['Afghanistan - ', 'Albania - ', 'Algeria - ', 'Andorra - ',
                  'Angola - ', 'Antigua and Barbuda - ', 'Argentina - ',
                  'Armenia - ', 'Australia - Australian Capital Territory',
                  'Australia - New South Wales',
                  ...
                  'Malawi - ', 'United Kingdom - Falkland Islands (Malvinas)',
                  'France - Saint Pierre and Miquelon', 'South Sudan - ',
                  'Western Sahara - ', 'Sao Tome and Principe - ', 'Yemen - ',
                  'Comoros - ', 'Tajikistan - ', 'Lesotho - '],
                 categories=['Afghanistan - ', 'Albania - ', 'Algeria - ', 'Andorra - ', 'Angola - ', 'Antigua and Barbuda - ', 'Argentina - ', 'Armenia - ', ...], ordered=False, name='Country - State', dtype='category', length=266)

In [33]:
test_df.loc["Afghanistan - "]

Lat            33.0000
Long           65.0000
1/22/20         0.0000
1/23/20         0.0000
1/24/20         0.0000
1/25/20         0.0000
1/26/20         0.0000
1/27/20         0.0000
1/28/20         0.0000
1/29/20         0.0000
1/30/20         0.0000
1/31/20         0.0000
2/1/20          0.0000
2/2/20          0.0000
2/3/20          0.0000
2/4/20          0.0000
2/5/20          0.0000
2/6/20          0.0000
2/7/20          0.0000
2/8/20          0.0000
2/9/20          0.0000
2/10/20         0.0000
2/11/20         0.0000
2/12/20         0.0000
2/13/20         0.0000
2/14/20         0.0000
2/15/20         0.0000
2/16/20         0.0000
2/17/20         0.0000
2/18/20         0.0000
               ...
4/30/20      2171.0000
5/1/20       2335.0000
5/2/20       2469.0000
5/3/20       2704.0000
5/4/20       2894.0000
5/5/20       3224.0000
5/6/20       3392.0000
5/7/20       3563.0000
5/8/20       3778.0000
5/9/20       4033.0000
5/10/20      4402.0000
5/11/20      4687.0000
5/12/20      4963.0000
5/13/20      5226.0000
5/14/20      5639.0000
5/15/20      6053.0000
5/16/20      6402.0000
5/17/20      6664.0000
5/18/20      7072.0000
5/19/20      7653.0000
5/20/20      8145.0000
5/21/20      8676.0000
5/22/20      9216.0000
5/23/20      9998.0000
5/24/20     10582.0000
5/25/20     11173.0000
5/26/20     11831.0000
5/27/20     12456.0000
5/28/20     13036.0000
Distance     4160.8781
Name: Afghanistan - , Length: 131, dtype: float64

In [34]:
test_df.drop(['Lat', 'Long'], axis=1, inplace=True)

In [35]:
test_df.head()

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,5/20/20,5/21/20,5/22/20,5/23/20,5/24/20,5/25/20,5/26/20,5/27/20,5/28/20,Distance
Country - State,,,,,,,,,,,,,,,,,,,,,
Afghanistan -,0,0,0,0,0,0,0,0,0,0,...,8145,8676,9216,9998,10582,11173,11831,12456,13036,4160.878100
Albania -,0,0,0,0,0,0,0,0,0,0,...,964,969,981,989,998,1004,1029,1050,1076,9869.276834
Algeria -,0,0,0,0,0,0,0,0,0,0,...,7542,7728,7918,8113,8306,8503,8697,8857,8997,9125.498645
Andorra -,0,0,0,0,0,0,0,0,0,0,...,762,762,762,762,762,763,763,763,763,8004.697489
Angola -,0,0,0,0,0,0,0,0,0,0,...,52,58,60,61,69,70,70,71,74,4919.080767

In [36]:
plain_df = test_df.drop(["Distance"], axis=1)

In [37]:
test_case = plain_df.loc['Afghanistan - ']

In [38]:
test_case.head()

1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
1/26/20    0
Name: Afghanistan - , dtype: int64

In [39]:
test_case.shape

(128,)

In [ ]:
col_count = plain_df.shape[1]

df = pd.Dataframe(plain_df.index)

for i in range(1, col_count):
    temp_df = pd.Dataframe(plain_df.iloc[:,i])
    country = temp_df.columns[0]
    temp_df["Location"] = country
    #df = df.merge(temp_df, left_index=True, right_index=True)
'''
I think I should not use merge but stack the data, so first col date, second col country, third col confirmed/deaths,
and then just have the dates repeat, use countries as categorical label to feed through to lstm
'''